@import "base.less";

.container {
  .tab{
    float: left;
    display: block;
    margin-right: 10px;
    border: 2px solid #000;
    cursor: pointer;
  }
  
  .order-list {
    clear:both;
    border: 2px solid #000;

    .order-item {
      cursor: pointer;
    }

    .order-detail {
      display: none;
      width: 300px;
      min-height: 100px;
      overflow: hidden;

      .food {
        float: left;
        width: 90px;
        margin-right: 5px;
      }

      .food-img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 20px;
      }

      .food-tip {
        display: block;
        clear: both;

        span {
          display: block;
        }
      }
    }
  }

  .analysis-list {
    display: none;
    clear: both;
    width: 100%;
    height: 500px;
    border: 2px solid #000;
    .table{
      .food-pop{
        .popfood{
          float: left;
          width: 150px;
          margin-right: 5px;
        }
        .food-img {
        width: 120px;
        height: 120px;
        border-radius: 50px;
        margin-right: 20px;
        }

        .food-tip {
          //display: block;
          clear: both;

          span {
          //display: block;
          text-align:center;
          }
        }
      }
    }
  }
  
}

