@import "base.less";

.container {
  .order-list {

    .order-item {

    }

    .order-detail {
      width: 300px;
      min-height: 100px;
      overflow: hidden;
      .b;

      .food {
        float: left;
        width: 90px;
        margin-right: 5px;
      }

      .food-img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 20px;
      }

      .food-tip {
        display: block;
        clear: both;

        span {
          display: block;
        }
      }
    }
  }
  
}