
.container{
  //float:left;
  //margin-left:


}
form {
  clear: both;
  width: 320px;
  position: relative;
  display: block;
  //margin-left: 98px;
  margin-left:330px;
  margin-top: 22px;
  border:2px solid #000;
}
.content{
  margin-left:20px;
  width:280px;
  margin-top:15px;
  margin-bottom:15px;
}
.input_height {
  height: 30px;
  margin-bottom: 15px;
}

.middle_width {
  width: 120px;
}

.long_width {
  width: 280px;
}
#btn{
  margin:0 auto;
  width:100px;
}
