@import "base.less";

.container {
  position: absolute;
  margin-top: 30px;

  ul#wrap {
    width: 6000px;

    li {
      width: 800px;
      height: 550px;
      display: inline-block;
      float: left;
      .b;
    }
  }

  #welcome {
    
  }
  
  #makeorder {

  }

  #success {

  }
}

